## Overview

#### This notebook controls the creation of a Star Schema Data Warehouse optimized for queries on song play analysis. The Data wareouse is built from two source data sets, as shown below.

<img src="Project_Data Warehouse-Flow.jpg">

<h1> <font color="red">Step 1: Configure and Launch Redshift Cluster</font> <\h1>

## 1. Create the redshift cluster and create an IAM role that has read access to S3

In [1]:
import pandas as pd
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

# Add redshift database and IAM role info to dwh.cfg.

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DB_NODE_TYPE          = config.get("CLUSTER","DB_NODE_TYPE")
DB_CLUSTER_TYPE       = config.get("CLUSTER","DB_CLUSTER_TYPE")
DB_NUM_NODES          = config.get("CLUSTER","DB_NUM_NODES")

DB_CLUSTER_IDENTIFIER = config.get("CLUSTER","DB_CLUSTER_IDENTIFIER")
DB_NAME                 = config.get("CLUSTER","DB_NAME")
DB_USER            = config.get("CLUSTER","DB_USER")
DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DB_PORT               = config.get("CLUSTER","DB_PORT")

DB_IAM_ROLE_NAME      = config.get("CLUSTER", "DB_IAM_ROLE_NAME")

(DB_USER, DB_PASSWORD, DB_NAME)

pd.DataFrame({"Param":
                  ["DB_CLUSTER_TYPE", "DB_NUM_NODES", "DB_NODE_TYPE", "DB_CLUSTER_IDENTIFIER", "DB_NAME", "DWH_DB_USER", "DB_PASSWORD", "DB_PORT", "DB_IAM_ROLE_NAME", "KEY"],
              "Value":
                  [DB_CLUSTER_TYPE, DB_NUM_NODES, DB_NODE_TYPE, DB_CLUSTER_IDENTIFIER, DB_NAME, DB_USER, DB_PASSWORD, DB_PORT, DB_IAM_ROLE_NAME, KEY]
             })

                   Param                 Value
0        DB_CLUSTER_TYPE            multi-node
1           DB_NUM_NODES                     4
2           DB_NODE_TYPE             dc2.large
3  DB_CLUSTER_IDENTIFIER            dwhCluster
4                DB_NAME                   dwh
5            DWH_DB_USER               dwhuser
6            DB_PASSWORD              Passw0rd
7                DB_PORT                  5439
8       DB_IAM_ROLE_NAME               dwhRole
9                    KEY  AKIATG7QIJMZRNGHIN5B

In [2]:
# Setconfigurations for the redshift cluster and create an IAM role that has read access to S3.
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

## 2. Launch the redshift cluster

In [3]:
# Get and print the IAM role ARN
print('1.3 Get the IAM role ARN')
roleArn = iam.get_role(RoleName=DB_IAM_ROLE_NAME)['Role']['Arn']

try:
    response = redshift.create_cluster(        
        # Add parameters for hardware
        ClusterType=DB_CLUSTER_TYPE,
        NodeType=DB_NODE_TYPE,
        NumberOfNodes=int(DB_NUM_NODES),

        # Add parameters for identifiers & credentials
        DBName=DB_NAME,
        ClusterIdentifier=DB_CLUSTER_IDENTIFIER,
        MasterUsername=DB_USER,
        MasterUserPassword=DB_PASSWORD,
        
        # Add parameter for role (to allow s3 access)
        IamRoles=[roleArn]
        
    )
     
except Exception as e:
    print(e)

1.3 Get the IAM role ARN
An error occurred (ClusterAlreadyExists) when calling the CreateCluster operation: Cluster already exists

In [4]:
# Check status of the cluster

def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DB_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cat627yxjs9k.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-4264e325
7,NumberOfNodes,4

In [5]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    # In this case the correct security group that works is the last in the list
    defaultSg = list(vpc.security_groups.all())[-1]
    print(defaultSg)
    
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DB_PORT),
        ToPort=int(DB_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-c33687bb')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [6]:
#Connect to the Database
DB_ENDPOINT = myClusterProps['Endpoint']['Address']
DB_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']

%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

print(DB_ENDPOINT)
print(DB_ROLE_ARN)

postgresql://dwhuser:Passw0rd@dwhcluster.cat627yxjs9k.us-west-2.redshift.amazonaws.com:5439/dwh
dwhcluster.cat627yxjs9k.us-west-2.redshift.amazonaws.com
arn:aws:iam::221157804851:role/dwhRole

<h1> <font color="red">Step 2: Create Tables in redshift database</font> <\h1>

### Warehouse Design

<img src="Project_Data Warehouse.jpg">

## 1. Create Tables
<h3> First create the Staging tables, then the Warehouse tables </h3>

In [7]:
#Drop and recreate tables from schemas defined in sql_queries.py
%run 'create_tables'

"create_tables" running....

DROP TABLE IF EXISTS staging_events ran succesfully...
DROP TABLE IF EXISTS staging_songs ran succesfully...
DROP TABLE IF EXISTS songplays ran succesfully...
DROP TABLE IF EXISTS users ran succesfully...
DROP TABLE IF EXISTS songs ran succesfully...
DROP TABLE IF EXISTS artist ran succesfully...
DROP TABLE IF EXISTS time ran succesfully...

CREATE TABLE staging_songs
(
  num_songs     VARCHAR NOT NULL,
  artist_id       VARCHAR,
  artist_latitude        VARCHAR,
  artist_longitude   VARCHAR,
  artist_location      VARCHAR,
  artist_name       VARCHAR,
  song_id        VARCHAR,
  title        VARCHAR,
  duration    VARCHAR,
  year       VARCHAR
);
 ran succesfully...


CREATE TABLE staging_events
(
  artist     VARCHAR,
  auth       VARCHAR,
  firstName        VARCHAR,
  gender   VARCHAR,
  iteminSession      VARCHAR,
  lastName       VARCHAR,
  length        VARCHAR,
  level        VARCHAR,
  location    VARCHAR,
  method    VARCHAR,
  page    VARCHAR,
  registration    VARCHAR,
  sessionid    VARCHAR,
  song    VARCHAR,
  status    VARCHAR,
  ts    VARCHAR,
  userAgent    VARCHAR,
  userId       VARCHAR
);
 ran succesfully...



CREATE TABLE IF NOT EXISTS songplays (
songplay_id int identity(0,1) PRIMARY KEY,
start_time varchar,
user_id int NOT NULL,
song_id varchar,
artist_id varchar,
session_id int sortkey,
location varchar,
user_agent varchar,
level varchar
);
 ran succesfully...



CREATE TABLE IF NOT EXISTS users (
user_id int not null sortkey,
first_name varchar,
last_name varchar,
gender varchar,
level varchar
);
 ran succesfully...



CREATE TABLE IF NOT EXISTS songs (
song_id varchar not null sortkey,
title varchar,
artist_id varchar NOT NULL,
year int,
duration numeric NOT NULL
);
 ran succesfully...



CREATE TABLE IF NOT EXISTS artists (
artist_id varchar not null sortkey,
name varchar,
location varchar DEFAULT 'None',
lattitude float DEFAULT 0,
longitude float DEFAULT 0
);
 ran succesfully...



CREATE TABLE IF NOT EXISTS time (
time_id int identity(0,1) PRIMARY KEY ,
start_time TIMESTAMP not null sortkey,
hour int,
day int,
week int,
month int,
year int,
weekday int
);
 ran succesfully...

<html>
<h1> <font color="red">Step 3: Run ETL Pipeline</font> </h1>      
<h3> Populate Staging tables and then build then populate the warehouse tables.</h3>  
</html>

In [8]:
%run 'etl'

Executing Staging Tables load...
Loading into Staging Tables Completed...
Populating Warehouse tables...

INSERT INTO songplays (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent) SELECT TIMESTAMP WITH TIME ZONE 'epoch' + CAST(staging_events.ts AS NUMERIC) * INTERVAL '1 Second ', CAST(staging_events.userId AS INT), staging_events.level, staging_songs.song_id, staging_songs.artist_id, CAST(staging_events.sessionid AS INT), staging_events.location, staging_events.userAgent FROM staging_events join staging_songs on staging_events.artist = staging_songs.artist_name and staging_events.song = staging_songs.title

 ..Success!

INSERT INTO artists (artist_id, name, location, lattitude, longitude) SELECT DISTINCT artist_id, artist_name, artist_location , CAST(artist_latitude AS FLOAT), CAST(artist_longitude AS FLOAT) FROM staging_songs;
 ..Success!

INSERT INTO users (user_id , first_name, last_name, gender, level) SELECT DISTINCT CAST(userId AS INT), firstName, lastName, gender, level FROM staging_events where userId != ' ';
 ..Success!

INSERT INTO songs (song_id, title, artist_id, year, duration) SELECT song_id, title, artist_id, CAST(year AS INT), CAST(duration AS NUMERIC) FROM staging_songs;
 ..Success!

INSERT INTO time (start_time, hour, day, week, month, year, weekday) SELECT TIMESTAMP WITH TIME ZONE 'epoch' + CAST(ts AS NUMERIC) * INTERVAL '1 Second ' AS c_Time, extract(hr from (TIMESTAMP WITH TIME ZONE 'epoch' + CAST(ts AS NUMERIC) * INTERVAL '1 Second ')) AS c_Hour, extract(day from (TIMESTAMP WITH TIME ZONE 'epoch' + CAST(ts AS NUMERIC)  * INTERVAL '1 Second ')) AS c_Day, extract(w from (TIMESTAMP WITH TIME ZONE 'epoch' + CAST(ts AS NUMERIC)  * INTERVAL '1 Second ')) AS c_Week, extract(mon from (TIMESTAMP WITH TIME ZONE 'epoch' + CAST(ts AS NUMERIC) * INTERVAL '1 Second '))AS c_Month, extract(y from (TIMESTAMP WITH TIME ZONE 'epoch' + CAST(ts AS NUMERIC) * INTERVAL '1 Second ')) AS c_Year, extract(weekday from (TIMESTAMP WITH TIME ZONE 'epoch' + CAST(ts AS NUMERIC) * INTERVAL '1 Second ')) AS c_Weekday FROM staging_events
 ..Success!
/n Warehouse tables populated!

<html>
<h1> <font color="red">Step 4: Validate Data </font> </h1>      
<h3> Run the below queries to check the data.</h3>  
</html>

## Staging Tables

In [9]:
%sql SELECT * FROM staging_songs LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cat627yxjs9k.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('1', 'ARFVYJI1187B9B8E13', '47.603560000000002', '-122.32944000000001', 'Seattle, WA', 'Pearl Jam', 'SOAOJYY12A58A7B2F9', 'Not For You', '352.88771000000003', '1994'),
 ('1', 'AR1JRJ61187B9B3F37', None, None, 'Berlin, Germany', 'Hardfloor', 'SOOQFOY12AB018A713', 'Don?t Trust Chief Wiggum', '437.60280999999998', '0'),
 ('1', 'AR16XZ11187B9A97F0', None, None, '', 'Blue Mountain', 'SOWCBND12A58A7C113', 'Judgement Day', '265.63873000000001', '0'),
 ('1', 'ARNB3QC1187FB5837F', None, None, '', 'Dru Down', 'SOLFXML12AB0180561', "Rock It Don't Stop It", '230.63464999999999', '0'),
 ('1', 'ARANOZN1187B9B373E', None, None, 'Los Angeles, CA', 'Descendents', 'SOAYYDM12AB01817E6', 'Orgofart', '140.66892999999999', '1986'),
 ('1', 'ARFZUMC1187B99EE8E', '42.328069999999997', '-83.733599999999996', 'Ann Arbor, MI', 'Jad Fair', 'SOHCIEX12A6D4FA4C6', 'Yellow Buttons', '227.23873', '0'),
 ('1', 'ARUZRFN1187B98AC05', None, None, 'Cleveland, OH', 'Bone Thugs-N-Harmony / Akon', 'SOBOCAG12A6BD55D56', 'Never Forget Me', '286.30158999999998', '2007'),
 ('1', 'ARFR8SF1187FB5C174', None, None, '', 'Brick & Lace', 'SOVMLYE12A81C24390', 'Never Never', '224.33913999999999', '2007'),
 ('1', 'ARJEHDD1187B9B3516', '43.028089999999999', '-83.322779999999995', 'Columbus, OH', 'The Supremes', 'SOHRYFR12A6D4FC824', 'Happy (Is A Bumpy Road)', '186.61832000000001', '1971'),
 ('1', 'ARNU0OM1187FB3F14A', '32.778149999999997', '-96.795400000000001', 'Dallas, TX', "Larry Groce/Disneyland Children's Sing-Along Chorus", 'SOPEJZP12A8C1369E6', "He's Got The Whole World In His Hands", '90.043629999999993', '0')]

In [10]:
%sql SELECT * FROM staging_events LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cat627yxjs9k.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(None, 'Logged In', 'Theodore', 'M', '0', 'Smith', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', '1540306145796', '154', None, '200', '1541290555796', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', '52'),
 ('Professor Longhair', 'Logged In', 'Ann', 'F', '0', 'Banks', '214.20363', 'free', 'Salt Lake City, UT', 'PUT', 'NextSong', '1540895683796', '124', "Mean Ol'World", '200', '1541292603796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '99'),
 (None, 'Logged In', 'Jahiem', 'M', '0', 'Miles', None, 'free', 'San Antonio-New Braunfels, TX', 'GET', 'Home', '1540817347796', '42', None, '200', '1541299033796', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '43'),
 ('Gary Hobbs', 'Logged In', 'Jahiem', 'M', '1', 'Miles', '245.52444', 'free', 'San Antonio-New Braunfels, TX', 'PUT', 'NextSong', '1540817347796', '42', 'En Mi Mundo', '200', '1541300092796', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '43'),
 ('Lifehouse', 'Logged In', 'Jahiem', 'M', '2', 'Miles', '203.59791000000001', 'free', 'San Antonio-New Braunfels, TX', 'PUT', 'NextSong', '1540817347796', '42', "We'll Never Know", '200', '1541300337796', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '43'),
 ('Olivia Ruiz', 'Logged In', 'Jahiem', 'M', '3', 'Miles', '254.74566999999999', 'free', 'San Antonio-New Braunfels, TX', 'PUT', 'NextSong', '1540817347796', '42', 'Cabaret Blanco', '200', '1541300540796', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '43'),
 (None, 'Logged In', 'Cecilia', 'F', '0', 'Owens', None, 'free', 'Atlanta-Sandy Springs-Roswell, GA', 'GET', 'Home', '1541032432796', '225', None, '200', '1541304686796', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) Gecko/20100101 Firefox/32.0', '6'),
 ('Jordan Rudess', 'Logged In', 'Cecilia', 'F', '1', 'Owens', '1367.84934', 'free', 'Atlanta-Sandy Springs-Roswell, GA', 'PUT', 'NextSong', '1541032432796', '225', 'Tarkus', '200', '1541306152796', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) Gecko/20100101 Firefox/32.0', '6'),
 ('Deerhunter', 'Logged In', 'Jayden', 'M', '0', 'Graves', '162.08933999999999', 'paid', 'Marinette, WI-MI', 'PUT', 'NextSong', '1540664184796', '128', 'Weird Era', '200', '1541310546796', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '25'),
 ('Daughtry', 'Logged In', 'Jayden', 'M', '1', 'Graves', '249.91301999999999', 'paid', 'Marinette, WI-MI', 'PUT', 'NextSong', '1540664184796', '128', 'No Surprise', '200', '1541310708796', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '25')]

## Warehouse Tables

In [11]:
%sql select * from time limit 10;

 * postgresql://dwhuser:***@dwhcluster.cat627yxjs9k.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(14450, datetime.datetime(9999, 9, 22, 19, 9, 56), 19, 22, 38, 9, 50805, 4),
 (14514, datetime.datetime(9999, 11, 11, 19, 26, 36), 19, 11, 45, 11, 50805, 5),
 (8306, datetime.datetime(9999, 5, 11, 1, 33, 16), 1, 11, 19, 5, 50806, 4),
 (8370, datetime.datetime(9999, 1, 31, 19, 53, 16), 19, 31, 5, 1, 50807, 3),
 (8434, datetime.datetime(9999, 2, 18, 12, 53, 16), 12, 18, 7, 2, 50807, 0),
 (8498, datetime.datetime(9999, 3, 12, 7, 6, 36), 7, 12, 11, 3, 50807, 1),
 (8562, datetime.datetime(9999, 3, 27, 11, 33, 16), 11, 27, 13, 3, 50807, 2),
 (8626, datetime.datetime(9999, 4, 20, 20, 49, 56), 20, 20, 16, 4, 50807, 5),
 (8690, datetime.datetime(9999, 5, 6, 2, 6, 36), 2, 6, 18, 5, 50807, 0),
 (8754, datetime.datetime(9999, 5, 13, 9, 56, 36), 9, 13, 19, 5, 50807, 0)]

In [15]:
%sql select * from songplays limit 10;

 * postgresql://dwhuser:***@dwhcluster.cat627yxjs9k.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(0, '50812-05-19 13:29:56+00', 25, 'SOHWVJJ12AB0185F6D', 'ARASYMJ1187B9ACAF2', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 'paid'),
 (22, '50815-06-25 04:06:36+00', 42, 'SOCNCGL127D9786D66', 'AREHK7O1187B9ADDD7', 129, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 'paid'),
 (306, '50816-02-04 12:16:36+00', 97, 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 147, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 'paid'),
 (57, '50816-04-25 10:29:56+00', 97, 'SOTUWPH12AB017DEBC', 'ARGLI7X1187B9930BB', 147, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 'paid'),
 (299, '50821-07-11 14:19:56+00', 15, 'SOWEUOO12A6D4F6D0C', 'ARQUMH41187B9AF699', 221, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 'paid'),
 (434, '50814-07-05 03:16:36+00', 44, 'SOUNZHU12A8AE47481', 'AR37SX11187FB3E164', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 'paid'),
 (128, '50835-07-19 10:03:16+00', 73, 'SOYRFUE12AB0183E5C', 'ARTYXEZ1187FB54560', 294, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 'paid'),
 (100, '50823-09-02 10:23:16+00', 80, 'SONQEYS12AF72AABC9', 'ARLY7P81187B9ACF4D', 342, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 'paid'),
 (185, '50829-01-22 05:29:56+00', 44, 'SOIZLKI12A6D4F7B61', 'ARR3ONV1187B9A2F59', 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 'paid'),
 (228, '50824-08-26 10:46:36+00', 80, 'SOECIFL12A6D4F78FE', 'AR6SPRZ1187FB4958B', 376, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 'paid')]

In [13]:
%sql SELECT * FROM artists limit 10;

 * postgresql://dwhuser:***@dwhcluster.cat627yxjs9k.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR026BB1187B994DC3', 'Ijahman Levi', '', None, None),
 ('AR026PU1187FB43FD9', 'The Vapors', '', None, None),
 ('AR035N21187FB3938E', 'BT', 'Earth', 34.23294, -102.4102),
 ('AR05TTS11C8A422FEC', 'Westbam And The Love Committee', '', None, None),
 ('AR065TW1187FB4C3A5', 'Tricky', 'Knowle West, Bristol, Avon, Engla', 51.43558, -2.57518),
 ('AR0709B1187B9A8E99', 'Amp Fiddler', 'Detroit', None, None),
 ('AR07SOR1187FB46179', 'Goo Goo Dolls', 'Buffalo, NY', None, None),
 ('AR08JFA1187B9AE72C', 'Eastern Star', '', None, None),
 ('AR08V2C1187FB3C879', 'The Coctails', 'Kansas City, MO', 39.10295, -94.58306)]

In [14]:
%sql select * from users limit 10;

 * postgresql://dwhuser:***@dwhcluster.cat627yxjs9k.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(7, 'Adelyn', 'Jordan', 'F', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free'),
 (13, 'Ava', 'Robinson', 'F', 'free'),
 (15, 'Lily', 'Koch', 'F', 'free'),
 (29, 'Jacqueline', 'Lynch', 'F', 'paid'),
 (43, 'Jahiem', 'Miles', 'M', 'free'),
 (53, 'Celeste', 'Williams', 'F', 'free'),
 (71, 'Ayleen', 'Wise', 'F', 'free'),
 (77, 'Magdalene', 'Herman', 'F', 'free'),
 (80, 'Tegan', 'Levine', 'F', 'free')]

## Access S3 Files

In [ ]:
import boto3
import json

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

sampleDbBucket =  s3.Bucket("udacity-dend")

In [ ]:
#View all the files
for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

In [ ]:
# Filter for the file you want to view by pasting the filename in to prefix.  

for obj in sampleDbBucket.objects.filter(Prefix="log_data/2018/11/2018-11-17-events.json"):
    print(obj.get()["Body"].read())